<!DOCTYPE html>
<html>
<head>
<title><%= title_or_default { yield :title } %></title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js' %>
<%= javascript_include_tag 'rails' %>
<%= csrf_meta_tag %>
</head>
<body>
<%= content_tag(:div, flash[:error], :class => 'error') if flash[:error] %>
<%= yield %>
<% if logged_in? %>
<%= button_to "Logout", logout_users_path %>
<% end %>
</body>
</html>
